.navbar-static-top {
    .navbar-right li {
        border-right: 1px solid lighten($brand-primary, 5%);

        &:first-child {
            border-left: 1px solid lighten($brand-primary, 5%);
        }
    }
    .fa {
        @include opacity(0.5);
        font-size: 1.5em;
        margin-right: 10px;
    }
}