.dashboard {
    h1 {
        margin: 0.5em 15px 1em;
    }
}
.metric-badge {
    display: block;
    background: #fff;
    @include rounded(10px);
    @include drop-shadow(0, 1px, 5px, 0.1);
    padding: 1em;
    margin: 0 0 30px 0;
    height: 100px;

    &:hover,
    &:focus {
        background: #f9f7d1;
        @include drop-shadow(0, 1px, 5px, 0.2);
    }
    &:hover,
    &:active,
    &:visited,
    &:focus {
        text-decoration: none;
    }
    &:active {
        margin: 1px 0 29px 0;
        @include drop-shadow(0, 0, 5px, 0.2);
    }

    .growth {
        margin: 0;
        padding: 0.25em 0;
        @include rounded(5px);
        border: 1px solid #ddd;
        float: right;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        width: 30%;
        &.up {
            color: #08c588;
        }
        &.down {
            color: #e4484a;
        }
        small {
            color: #999;
            font-size: 10px;
            text-transform: uppercase;
            font-weight: normal;
            display: block;
        }
    }

    .title {
        margin: 0;
        color: #4f565c;
    }

    .value {
        color: #1aa4db;
        font-weight: bold;
        font-size: 2.5em;
    }

    .explanation {
        display: block;
        color: #999;
        text-align: right;
    }
}