.users-page {
    h1 {
        em, strong {
            font-style: normal;
            font-weight: normal;
            font-size: 0.8em;
            color: #555;
        }
        strong {
            color: #000;
        }
    }

    .table {
        .numeric {
            text-align: right;
        }
        .sort {
            a {
                display: block;
            }
            .fa {
                float: right;
                margin-top: 4px;
            }
            &.active {
                background: $brand-primary;
                a {
                    color: #fff;
                }
            }
        }
    }

    .navbar-filters {
        margin-bottom: 0;

        input[type=search] {
            width: 300px;
        }

        .num_results {
            margin-right: 0;
            font-size: 1.2em;
            color: #999;
        }
    }

    .pagination {
        margin: 0 auto 20px;
    }
}